<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Predicted</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
      
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
		   <li class="menu-active"><a href="home.html">Logout</a></li> 
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0"><br><span>Emotion And Sentiment</span> Analysis</h1>
      <a href="https://www.youtube.com/watch?v=AJVP96tAWxw" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#contact" class="about-btn scrollto">Prediction</a>
	  <a href="#contact" class="about-btn scrollto">welcome {{name}}</a>
	  <a href="#contact" class="about-btn scrollto">welcome {{email}}</a>
    </div>
  </section>

  <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">
       <!-- <div class="section-header">
          <h2 style="text-align:left">Login</h2>
 
        </div>-->
        <div class="form">
              <form action='/emotionprediction' method="POST" >
                <div class="row">
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                          <!--<input type="textarea" rows="10" name="txt" placeholder="Enter Your Text" required="">  -->
						  <textarea type="text" placeholder="Enter Your Text" name="txt" class="form-control"></textarea>
						   <br>
						   <div class="text-center"><input type="submit" value="predict"></input></div>
 
                        </div>           
                    </div>
					
					 <div class="col-sm-6">
                        <div class="form-group">			 
							 <img src="https://media2.giphy.com/media/2ZVrNVOtaM2q1zluYs/giphy.gif?cid=790b7611ccdddf862b2633791bdf271e4ec0528b4121e68d&rid=giphy.gif">
							 
                        </div>           
                    </div>
					
				 </div>
								
            </form>

      </div>
    </section><!-- #contact -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
  

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>TheEvent</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/venobox/venobox.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
</body>

</html>
